.footer {
  margin-top: 5px;
  padding: 2px;
  background-color:  rgb(199, 194, 190);
  
   
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; 

}
a.navbar-brand {
  text-align: center;
  color:rgba(12, 12, 12, 0.863);

}
a.nav-link {
  color: rgba(14, 13, 13, 0.863);
  font-size: bold;
  text-align: center;
}
  
  /*.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #312f2f;
    text-align: center;
    color: rgb(226, 74, 4);

  }
  */ 

div.mr-auto.nav {
  text-align: center;
  background-color:rgb(199, 194, 190);
}

